<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2zbilling">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test"></activity>
        <activity android:name=".customer.CustomerPaymentHistoryActivity" />
        <activity android:name=".customer.ShowCustomerTransactionDetailActivity" />
        <activity
            android:name=".ExpensesActivity2"
            android:parentActivityName=".ExpensesActivity" />
        <activity
            android:name=".ExpensesActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".ProfitAndLossActivity" />
        <activity android:name=".support.SupportActivity" />
        <activity
            android:name=".counter.BillList.BillHistoryActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".counter.SuspendedBills.SuspendedTransactionListActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".counter.Selling.SellingStocksActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".stock.DefaultItemList.DefaultItemListActivity" />
        <activity android:name=".stock.addUpdate.AddUpdateStockActivity" />
        <activity
            android:name=".stock.StockActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".customer.CustomerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>